<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>Psychology Experiment - Informed Consent Form</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
                <h1>Task complete!</h1>
                <hr />
                <p>You are finished! Thank you for your contributions to science. You will be eligible for full payment once you click "Submit" below.</p>
                <br>
                <div class="legal well">
                    <h3>Debriefing</h3>

                    <hr>

                    <p><strong>What was this study about?</strong></p>

                    <p>This is part of a larger study that looks at what children and adults know about verbs. Words that are verbs share certain similarities. For example, in English, only verbs can come before the suffix "–ing." Do children understand this fact?  Alternatively, do they treat each verb-like word as its own special case?</p>

                    <p>We are interested in a specific class of verbs called <i>datives</i>. Dative verbs are used in situations where there is transfer of possession. For example, <i>giving</i> involves a person who gives, the thing being given (called <i>theme</i>), and a recipient (called <i>goal</i>). Other dative verbs include <i>show</i>, <i>bring</i>, <i>pass</i>, <i>throw</i>, etc.</p>

                    <p>Dative verbs occur in two kinds of sentences, shown below:</p>

                        <ul>
                        1. Give the lion the ball.
                        <br>
                        2. Give the ball to the lion.
                        </ul>
                    
                    <p>In the first type (called double-object or DO), the goal (lion) comes before the theme (ball). In the second (called prepositional-object or PO), the theme (ball) comes before the goal (lion). These are two different syntactic structures.</p>

                    <p><strong>How was the study conducted?</strong></p>

                    <p>In this study, you heard and produced dative sentences. Elicited sentences were similar either to (1) or (2) below:</p>

                        <ul>
                        1. The boy brought the camel the keys.
                        <br>
                        2. The boy brought the camera to the tiger.
                        </ul>

                    <p>We evaluated your real-time production of these sentences. Which were you more likely to say?</p>

                    <p>Elicited sentences were preceded by two prime sentences (produced by the investigator) using either the same dative verb or two different dative verbs. For example, prior to producing "brought the cam...," you heard two other sentences with the verb "bring," or one sentence each with the verbs "show" and "pass."</p>

                    <p>There were four <i>independent</i> variables:</p>

                        <ul>
                        1. The type of prime sentences (either both DO or both PO);
                        <br>
                        2. The type of prime verbs (either the same as the elicited verb or different);
                        <br>
                        3. The order of sentences (random order #1, #2, #3, or #4); and
                        <br>
                        4. Age (4-year-olds, 7- to 9-year-olds, and adults).
                        </ul>

                    <p>The <i>dependent</i> variable was the type of sentence (either DO or PO) you produced.</p>

                    <p><strong>What was the hypothesis?</strong></p>

                    <p>Our first hypothesis was that the type of sentence you produced would be influenced by the type of prime sentences you heard. For example, if you heard two DO primes, you would be more likely to produce a DO sentence. Alternatively, if you heard PO primes, you would be more likely to produce a PO sentence.</p>

                    <p>A second hypothesis regarded the type of prime verbs. We hypothesized that the influence of the type of prime sentences on the type of sentence you produced would be stronger for elicited sentences following prime sentences with the same verb than for prime sentences with different verbs.</p>

                    <p><strong>Why is this study important?</strong></p>

                    <p>What does this tell us about children's and adults' knowledge of verbs? In this study, we used prime verbs that were either the same as or different from the elicited verbs. On the one hand, if the prime verbs influence children's production of a sentence with a different verb, this in effect shows that children understand at least some of the similarities <i>between verbs</i>. On the other hand, whether the type of prime verbs influences the strength of priming in different ways over the course of development has possible implications for existing theories of language acquisition.</p>

                    <p><strong>References:</strong></p>

                    <p>Rowland, C. F., Chang, F., Ambridge, B., Pine, J. M., &amp; Lieven, E. V. M. (2012). The development of abstract syntax: Evidence from structural priming and the lexical boost. <i>Cognition, 125</i>, 49-63. [This study examined the production of dative verbs across development. We are interested in replicating and extending these findings.]</p>

                    <p><strong>How to contact the researcher:</strong></p>

                    <p>If you have questions or concerns about your participation or payment, or want to request a summary of research findings, please contact the researcher:</p>

                    	<ul>
                    	Jayden Ziegler
                    	<br>
                        ziegler@g.harvard.edu
                        <br>
                        (617) 384-8357
                        </ul>

                   	<p>For any problems related to this study, you may also contact the faculty member who is supervising it:</p>

                   		<ul>
                    	Jesse Snedeker
                    	<br>
                        snedeker@wjh.harvard.edu
                        </ul>

                    <p><strong>Whom to contact about your rights as a participant in this research:</strong></p>

                    <p>For questions, concerns, suggestions, or complaints that have not been or cannot be addressed by the researcher, or to report research-related harm, please contact:</p>

                    	<ul>
                        Committee on the Use of Human Subjects in Research at Harvard University
                        <br>
                        1414 Massachusetts Avenue, Second Floor
                        <br>
                        Cambridge, MA 02138
                        <br>
                        (617) 496-CUHS (2847)
                        <br>
                        cuhs@fas.harvard.edu
                        </ul>

                    <hr>

                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Please save or print a copy of this page for your records
                    </button>
                </div>

                <hr />
                <h4>For the integrity of our research, we ask that you not discuss the purpose of this study or the particular types of words and sentences that we used in this study with anyone in the Amazon Mechanical Turk community.</h4>
                <br />

                <div class="instructionsnav">
                    <div class="row">
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-7">
                        </div>
                        <div class="col-xs-3">
                            <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
