<script>
$(document).ready(function(){
    $(window).scrollTop(0);
});
</script>

<script>
var yourVideo = document.getElementById('video-control');
var played_vid=false;
function startvideo() {
  if(played_vid==false) {
  yourVideo.play();
  played_vid=true;
  document.getElementById('play-span-vid').setAttribute('class','glyphicon glyphicon-remove-circle');
  document.getElementById('video-play-button').disabled=true;
  }
}
</script>

<div id="container-instructions">

    <h1>Practice</h1>

    <hr>

    <div class="instructions well">

        <p>
            The following question is a practice example of <strong>Task 2</strong>. You can find the answer on the next page.
        </p>
        
        <hr>

        <p align="center">
            Watch the video and record your description.
        </p>
        
        <br>

        <p align="center"><strong>SPILL</strong></p>

        <br>
        
        <div id="video" align="center"><video width=350 height=350 style="border:3px solid #32CD32; background:white" hspace=10 id="video-control">
            <source src="static/video/The woman spilling the milk.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

                <br>

                <button type="button" id="video-play-button" value="play" class="btn btn-success btn-lg" onclick="javascript:startvideo()">
                Play Video <span id="play-span-vid" class="glyphicon glyphicon-play-circle"></span>
                </button>

        </div>

        <br>
        
        <div id="recording" align="center">

        <div id="buttons" align="center">

        <button type="button" id="audio-record-button" value="play" class="btn btn-warning btn-lg" onclick="startRecording(this);">
            Record <span id="rec-span-aud" class="glyphicon glyphicon-record"></span>
            </button>

        <button type="button" id="audio-stop-button" value="play" class="btn btn-warning btn-lg" onclick="stopRecording(this);" disabled>
            Stop <span id="stop-span-aud" class="glyphicon glyphicon-stop"></span>
            </button>
        
        </div>

        <br>
        
        <div id="recordingslist" align="center"></div>

        <br>
        
        <pre id="output" align="center"></pre>

        </div>

        <hr>

        <p>
            Click "Next" to continue.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

        <script src="static/js/script_instr.js"></script>
        
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-circle-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="javascript:endAudioStream();">
                Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
